<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/default.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">

</head>

<body>
    <% if(error.length> 0){ %>
        <div class="flashHolder" id='holderG'>
            <div class="innerFlash innerR">
                <p class="flashText textR">
                    <%= error %>
                </p>
                <button class="flashBtn btnR" onclick="disapearG()">X</button>
            </div>
        </div>
        <% } %>

            <a href="/logout" id='logout' class="btn1">Home</a>
            <div class='main'>
                <div id='all'>
                    <form id='formForm' action="./login" method="POST" onsubmit="return runChecks()">
                        <h1>Login</h1>
                        <div id='form0'>
                            <div class="inputBox0">
                                <input type="text" name='user[email]' id='email' placeholder="Email" class="checkr">
                            </div>
                        </div>
                        <div id='form2'>
                            <div class="inputBox2">
                                <input type="password" name='user[password]' id='password' placeholder="Password"
                                    class="checkr">
                            </div>
                        </div>
                        <button class='btn2'>Log In</button>
                        <h5>Don't Have an Account Yet? <a href="/register" class="btn1">Join</a></h5>
                    </form>
                </div>
                <img src="/images/Coach-bro.svg" alt="">
            </div>

            <script>
                function disapearG() {
                    const element = document.getElementById('holderG')
                    element.classList.add('vanish')
                }

                function runChecks() {
                    var returnVar = true
                    const elements = document.getElementsByClassName('checkr')
                    console.log(elements)
                    var today = new Date();
                    console.log(today)
                    console.log(today.toString())
                    console.log(today.getTimezoneOffset())
                    console.log(elements)
                    for (const element of elements) {
                        if (element.value == "") {
                            element.classList.add('badInput')
                            returnVar = false
                        } else {
                            element.classList.add('goodInput')
                        }
                    };
                    return returnVar
                }

            </script>

</body>

</html>