<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/boilerplate.css">
    <link rel="stylesheet" href="/stylesheets/default.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <title>Actively</title>
</head>

<body>
    <div class="bp-boilerplate-body">
        <div class="bp-headerStuff">
            <a href="/profile">
                <img src=<%=navbarData.userImg %> id='profileImg'>
            </a>
            <div class="bp-row">
                <a href="/newEvent" class="bp-btn1">New Event +</a>
                <div class="bp-hamburger">
                    <span class="bp-bar"></span>
                    <span class="bp-bar"></span>
                    <span class="bp-bar"></span>
                </div>
            </div>
        </div>
        <div id="body">
            <%- body %>
        </div>
    </div>
    <header class="bpHeader">
        <div class="bp-nav-menu">
            <div class="bp-rightSideNav">
                <div class="bp-header-row">
                    <h5 class="bph5">Sport Selection</h5>
                    <div class="bp-hamburger active">
                        <span class="bp-bar"></span>
                        <span class="bp-bar"></span>
                        <span class="bp-bar"></span>
                    </div>
                </div>
                <div class="bp-sports-row">
                    <button id='PingPong'
                        class="bp-nav-item <% if(navbarData.userSports.includes('PingPong')){ %> check<% } %>">
                        <img src="/images/PingPong.png" alt="" class="bp-cardImg">
                        <h4 class="bp-h4">PingPong</h4>
                    </button>
                    <button id='Tennis'
                        class="bp-nav-item <% if(navbarData.userSports.includes('Tennis')){ %> check<% } %>">
                        <img src="/images/Tennis.png" alt="" class="bp-cardImg">
                        <h4 class="bp-h4">Tennis</h4>
                    </button>
                    <button id='Pickleball'
                        class="bp-nav-item <% if(navbarData.userSports.includes('Pickleball')){ %> check<% } %>">
                        <img src="/images/Pickleball.png" alt="" class="bp-cardImg">
                        <h4 class="bp-h4">Pickleball</h4>
                    </button>
                    <button id='Basketball'
                        class="bp-nav-item <% if(navbarData.userSports.includes('Basketball')){ %> check<% } %>">
                        <img src="/images/Basketball.png" alt="" class="bp-cardImg">
                        <h4 class="bp-h4">Basketball</h4>
                    </button>
                    <button id='Soccer'
                        class="bp-nav-item <% if(navbarData.userSports.includes('Soccer')){ %> check<% } %>">
                        <img src="/images/Soccer.png" alt="" class="bp-cardImg">
                        <h4 class="bp-h4">Soccer</h4>
                    </button>
                    <button id='Football'
                        class="bp-nav-item <% if(navbarData.userSports.includes('Football')){ %> check<% } %>">
                        <img src="/images/Football.png" alt="" class="bp-cardImg">
                        <h4 class="bp-h4">Football</h4>
                    </button>
                    <button id='Spikeball'
                        class="bp-nav-item <% if(navbarData.userSports.includes('Spikeball')){ %> check<% } %>">
                        <img src="/images/Spikeball.png" alt="" class="bp-cardImg">
                        <h4 class="bp-h4">Spikeball</h4>
                    </button>

                </div>
                </h6>
                <div class="bp-column">
                    <div class="bp-state-selectDiv">
                        <h5 class="bph2">Set Location</h5>
                        <input type="hidden" name="country" id="countryId" value="US" />
                        <select name="state" class="bp-states states order-alpha" id="stateId">
                            <option value="">Select State</option>
                        </select>
                        <select name="city" class="bp-cities cities order-alpha" id="cityId">
                            <option value="">Select City</option>
                        </select>
                    </div>
                    <h6 class="bph6">Showing Results for <%=navbarData.userCity%>, <%= navbarData.userState%>
                </div>
                <div class="bp-row2">
                    <div class="bp-addFriends">
                        <a href="/friends">
                            <div class="bpFriendsDiv">
                                <img src="/images/addFriend.png" alt="">
                                <h3>Find Friends
                                </h3>
                            </div>
                        </a>
                    </div>
                    <a href="/dashboard" class="bp-home">Home</a>
                    <a href="/logout" class="bp-home">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//geodata.solutions/includes/statecity.js"></script>
    <script src=/scripts/boilerplateScript.js></script>
</body>

</html>