<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">

    <title>The Team</title>
</head>

<body>
    <a href="./" id='a'>Go Back</a>


    <div class="main">
        <h1>The Dream Team</h1>
        <hr>
        <div class="person">
            <img src="/images/reed.PNG" alt="Reed Adajar">
            <div class="content">
                <h3>The Boss Man: Reed Adajar</h3>
                <ul>
                    <li>Giga chad</li>
                    <li>Loves simping</li>
                    <li>Professional punching bag</li>
                    <li>Nearly benched two plates</li>
                </ul>
            </div>
        </div>
        <div class="person" id="lovig">
            <div class="content">
                <h3>The Pretty Boy: Carson Lovig</h3>
                <ul>
                    <li>Sholder pressed a plate</li>
                    <li>Future Doctor</li>
                    <li>Seduces with a Guitar</li>
                    <li>Probably has more pens than you</li>
                </ul>
            </div>
            <img src="/images/lovig.jpeg" alt="Carson Lovig">
        </div>
        <div class="person">
            <img src="/images/p1.JPG" alt="Patrick">
            <div class="content">
                <h3>The Nerd: Patrick Foster</h3>
                <ul>
                    <li>Big Kanye Fan</li>
                    <li>5th Grade Chess Champion</li>
                    <li>Sadly, Business Major</li>
                    <li>Tone Deaf</li>
                </ul>
            </div>
        </div>
    </div>



</body>

</html>