<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/error.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">

    <title>Error 🥶</title>
</head>

<body>
    <div class="main">
        <h1 id='h1'>Uh Oh, we had an error 🤭</h1>
        <h3>Sorry that we suck at coding</h3>
        <a href="./dashboard" id="btn">Click to go back</a>
        <p>Error Message: <%= err.message %>
        </p>
    </div>


</body>

</html>