<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/resources.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <title>Resources</title>
</head>

<body>
    <a href="./" id='a'>Go Back</a>
    <h1>Thank you for all of the help with the photos</h1>
    <h3>Check these artists out:</h3>
    <a href="https://storyset.com/people">People illustrations by Storyset</a>

    <a href="https://storyset.com/sport">Sport illustrations by Storyset</a>

    <a href="https://storyset.com/people">People illustrations by Storyset</a>

    <a href="https://storyset.com/team">Team illustrations by Storyset</a>

    <a href="https://storyset.com/sport">Sport illustrations by Storyset</a>
    <div class="section"> <a target="_blank" href="https://icons8.com/icon/24533/squash-racquet">Squash Racquet</a> icon
        by <a target="_blank" href="https://icons8.com">Icons8</a></div>
    <div class="section"> <a target="_blank" href="https://icons8.com/icon/74343/racket">Racket</a> icon by <a
            target="_blank" href="https://icons8.com">Icons8</a></div>
    <div class="section"> <a target="_blank" href="https://icons8.com/icon/a8PyBWawy3IK/football">Football</a> icon by
        <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
    <div class="section"> <a target="_blank" href="https://icons8.com/icon/I9JPWlgmgdyF/soccer">Soccer</a> icon by <a
            target="_blank" href="https://icons8.com">Icons8</a></div>
    <div class="section"> <a target="_blank" href="https://icons8.com/icon/u3US_jEMT66g/ping-pong">Ping Pong</a> icon by
        <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
    <div class="section"> <a target="_blank" href="https://icons8.com/icon/48881/basketball">Basketball</a> icon by <a
            target="_blank" href="https://icons8.com">Icons8</a></div>
    <div class="section"> <a target="_blank" href="https://icons8.com/icon/2865/volleyball">Volleyball</a> icon by <a
            target="_blank" href="https://icons8.com">Icons8</a></div>
    <div class="section"> <a target="_blank" href="https://icons8.com/icon/xMbrbPbcPBA6/ball">Ball</a> icon by <a
            target="_blank" href="https://icons8.com">Icons8</a></div>

</body>

</html>