@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    overflow: none;
}

.bp-headerStuff {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    width: 100vw;
    padding: 2px 0px 2px 0px;
    border-bottom: 1px #f5f5f8 solid;
    box-shadow: 0 3px 3px rgb(0 0 0 / 5%);

}

.bp-row {
    display: flex;
    flex-direction: row;
    margin-right: 2vw;
}

#profileImg {
    width: 50px;
    height: 50px;
    margin-top: 4px;
    border-radius: 50%;
    margin-left: 2vw;
}

.bp-btn1 {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #263238;
    background-color: #80fbbd;
    border-radius: 5px;
    font-size: 14px;
    padding: 0.2rem .4rem 0.2rem .4rem;
    margin-right: 8px;
    font-weight: 600;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}



.bph5 {
    font-family: 'Open Sans', sans-serif;
    color: #212529;
    font-size: 1.5rem;
}



/* ----------------------------------------- */

.bpHeader {
    width: 100%;
    display: flex;
    justify-content: end;


}

.bp-nav-menu {
    position: fixed;
    top: 0px;
    right: -103%;
    width: 100vw;
    height: 100%;
    background: rgba(205, 205, 205, 0.6);
    backdrop-filter: blur(2px);
    justify-content: flex-start;
    align-items: center;
    display: none;

}

.bp-rightSideNav {
    position: fixed;
    top: 0px;
    right: -100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 330px;
    height: 100%;
    display: none;

}


.bp-header-row {
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
    /* margin-right: 50px; */
    margin-top: 20px;
}

.bp-sports-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-right: 5px;
}

.bp-nav-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #262626;
    border-radius: 10px;
    padding: 8px;
    position: relative;
    cursor: pointer;
    transform-origin: 50% 50%;
    width: 70px;
    margin: 5px;
    text-decoration: none;
    background-color: white;
}


.bp-nav-item.check:before {
    transition-duration: 4s;
    transform: scale(1);
}

.bp-nav-item.check:before {
    content: "✓";
    font-size: 12px;
    background-color: #80fbbd;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    left: -8px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 23px;
}

.bp-nav-item.check {
    border: 3px solid #80fbbd;
}

.bp-nav-item h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;

}

.bp-cardImg {
    width: 50px;
    height: 50px;
}

.bp-nav-menu.active {
    right: 0;
    display: block;
}

.bp-nav-menu.active .bp-rightSideNav {
    right: 0;
    display: block;

}

.bp-column {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.bph2 {
    font-family: 'Open Sans', sans-serif;
    color: #212529;
    font-size: 16px;
    font-weight: 700;
    margin-right: 10px;
}

.bph6 {
    font-family: 'Open Sans', sans-serif;
    color: #212529;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
}

.bp-state-selectDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin: 10px; */
    margin: 20px 0px 10px;
}

.order-alpha {
    height: 25px;
    font-family: 'Open Sans', sans-serif;
    width: 90px;
    font-size: 12px;
    background-color: white;
    border-radius: 8px;
    border: 2px solid #80fbbd;
    padding: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.bp-states {
    margin-right: 10px;
}

.bp-row2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 10px;
}

.bp-addFriends {
    border-radius: 15px;
    border: 2px solid #80fbbd;
    background-color: #80fbbd;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    width: 140px;
}

.bpFriendsDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px 5px 2px 5px;
}

.bp-addFriends img {
    width: 30px;
}

.bp-addFriends h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-color: #80fbbd;
    color: #263238;
    font-weight: 700;
    margin-left: 5px;
}

.bp-home {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #263238;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid #80fbbd;
    background-color: #80fbbd;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    width: 20%;
    height: 38px;
}



.bp-hamburger {
    height: 18px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #80fbbd;
    padding: 4px;
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

}

.bp-hamburger:hover {
    cursor: pointer;
}

.bp-bar {
    width: 16px;
    height: 2px;
    background-color: #212529;

}

.bp-hamburger.active {
    position: relative;
}

.bp-hamburger.active .bp-bar:nth-child(2) {
    opacity: 0;
}

.bp-hamburger.active .bp-bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.bp-hamburger.active .bp-bar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
}





@media only screen and (max-width: 1100px) {

    #profileImg {
        width: 35px;
        height: 35px;
        margin-right: 5px;
    }

    .bp-header-row {
        margin-right: 10px;
    }

}