@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    overflow: none;
}

body {
    background-color: #f7f7fa;
}

.headerStuff {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    width: 100%;
    padding: 2px 10px 2px 10px;
    border-bottom: 1px #212529 solid;
}


#profileImg {
    width: 50px;
    height: 50px;
    margin-right: 30px;
    margin-top: 4px;
    border-radius: 50%;
}

.secondButtonHolder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.buttonHolder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: #212529;
    font-size: 24px;
}

.btn1 {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #263238;
    background-color: #80fbbd;
    border-radius: 5px;
    font-size: 14px;
    padding: 0.2rem .4rem 0.2rem .4rem;
    margin-left: 8px;
    font-weight: 600;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.bottomSection {
    margin-top: 90px;
}


h3 {
    font-family: 'Open Sans', sans-serif;
    color: #212529;
    font-size: 1.5rem;
    margin: 0rem 1.5rem 0.5rem 1.5rem;
}

hr {
    background: #f7f7fa;
    margin: 0rem 1.5rem 1rem 1.5rem;
    height: .25rem;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(100deg,
            hsl(150deg 94% 74%) 0%,
            hsl(152deg 89% 74%) 9%,
            hsl(154deg 85% 73%) 18%,
            hsl(156deg 81% 73%) 28%,
            hsl(158deg 76% 72%) 38%,
            hsl(161deg 73% 72%) 49%,
            hsl(164deg 69% 71%) 60%,
            hsl(167deg 65% 71%) 71%,
            hsl(170deg 62% 70%) 81%,
            hsl(173deg 59% 69%) 88%,
            hsl(177deg 55% 69%) 93%,
            hsl(180deg 53% 68%) 96%,
            hsl(184deg 55% 69%) 98%,
            hsl(188deg 58% 69%) 99%,
            hsl(191deg 60% 69%) 100%);
}

.personalInfoDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

}


.profileIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}


.dashBoardHolderDiv {
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    align-items: flex-start;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: #212529;

}

h5 {
    font-family: 'Open Sans', sans-serif;
    color: #212529;
    font-size: 1.5rem;
}


p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.textSpan {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}


.groupsize {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 10px;
    background-color: #f7f7fa;
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border: none;

}


.sportIconImg {
    width: 30px;
    margin-left: 10px;
    margin-right: 20px;

}

.marginLeft {
    margin-left: 4px;
}

.peopleDiscoveryImg {
    width: 15px;
    height: 15px;
    margin-top: 2px;
    margin-left: 5px;
}

.groupsize:hover {
    cursor: pointer;
}

.insideHolder {
    margin-left: 60px;
    margin-bottom: 6px;
}

#nameText {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0px;
}

.rec {
    background-color: #82cfe0;
}

.advanced {
    background-color: #ffddc0;
}

.everyThingElse {
    background-color: #80fbbd;
}

.divBottomItem {
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
}

#joinBtn {
    font-family: 'Open Sans', sans-serif;
    border: none;
    font-size: 1rem;
    font-weight: 400;
}

/* ----------------------------------------- */

header {
    width: 100%;
    display: flex;
    justify-content: end;
}


.nav-menu {
    display: flex;
    position: fixed;
    left: -100%;
    top: 50px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    background: rgba(205, 205, 205, 0.5);
    backdrop-filter: blur(2px);
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.nav-link {
    font-family: 'Open Sans', sans-serif;
    transition: 0.7s ease;
    color: #262626;
    text-decoration: none;
    text-align: center;
    border: 1.5px solid #262626;
    padding: 5px 40px 5px 40px;
    background: #FFF;
    border-radius: 10px;
    font-weight: 400;
}

.nav-item {
    margin-bottom: 50px;
}

.nav-menu.active {
    left: 0;
}


.nav-branding {
    font-size: 36px;
}


.hamburger {
    height: 18px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #80fbbd;
    padding: 4px;
    border-radius: 5px;
    margin-left: 8px;
    /* height: 18px; */
    /* margin-right: 3rem;
    margin-left: 1rem; */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.hamburger:hover {
    cursor: pointer;
}

.bar {
    width: 16px;
    height: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #212529;

}

.check {
    font-weight: 600;
    border: 1.5px solid #82cfe0;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
}

.popupDiv {
    /* width: 90vw; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    /* max-width: 900px; */
    width: min(80vw, 500px);
    background-color: #f7f7fa;
    border: solid 2px #263238;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.close {
    display: none;
}

.headerDiv {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.headerDiv h4 {
    color: #263238;
}

.headerDiv button {
    background-color: #80fbbd;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 15px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);

}

.cardHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: solid 3px #263238;
    background-color: #f7f7fa;
    padding: 5px;
    border-radius: 10px;
    width: 100px;
    height: 120px;
    margin: 5px;

}

.card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* border: solid 4px #263238; */
}

.card a {
    font-family: 'Open Sans', sans-serif;
    color: #212529;
    font-size: 12px;
}

@media only screen and (max-width: 1100px) {

    #profileImg {
        width: 35px;
        height: 35px;
        margin-right: 5px;
    }

    .card {
        width: 80px;
        height: 100px;
    }

    .card img {
        width: 60px;
        height: 60px;
    }

    .card a {
        font-size: 10px;
    }

    .nav-item {
        margin-bottom: 30px;
    }

    h1 {
        font-size: 20px;
    }


    .headerStuff {
        width: 95%;
    }

}