/* Making a round cropping frame. This CSS also rounds the preview image. */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

.uploadcare--jcrop-holder>div>div,
#preview {
    border-radius: 50%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #212529;
}

.uploadcare--widget_status_loaded {
    display: none;

}

.uploadcare--widget__button {
    visibility: hidden;
    position: relative;
    width: 20px;
    height: 30px;
    right: 80px;
    bottom: 100px;
}

.uploadcare--widget__button:after {
    content: ' ';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url('/images/pp4.png');
    visibility: visible;
    display: block;
    position: absolute;
    background-color: gray;
    padding: 5px;
    top: 2px;
}



body {

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.inputLabel {
    padding-left: 5px;
}

#preview {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 4px solid #212529;
    padding: 4px;
    margin-right: 25px;
}


.mainHolder {
    min-width: 350px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 65px;

}

#first {
    padding-right: 15px;
}

.w100 {
    width: 100%;
}

.topSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 35px;
}

.row2Column {
    display: flex;
    flex-direction: row;
}

.ageHolder {
    margin-left: 100px;
}

h1 {
    font-size: 48px;
    padding-bottom: 15px;
}

h2 {
    font-size: 32px;
}

.socialDiv {
    padding: 6px;
    border-radius: 15px;
    width: 325px;
}

.instagramDiv {
    border: 2px solid #c51899;
}

.facebookDiv {
    border: 2px solid #2f77f2;
    margin-left: 10px;
}

#description {
    width: 100%
}


.socialMediaHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}


.socialInput {
    background: #fff;
    border-style: none;
    font-size: 20px;
    font-weight: 400;
    color: #212529;
    width: 100%;
}

.socialInput:focus {
    outline: 0px solid #80fbbd;
    border-radius: 4px;
}


.input1 {
    background: #fff;
    border-style: solid;
    border-color: rgb(240, 240, 240);
    border-width: medium;
    padding: 3px;
    font-size: 16px;
    font-weight: 400;
    color: #212529;
    border-radius: 4px;

    margin-top: 10px;
}

.input1:focus {
    outline: 2px solid #80fbbd;
    border-radius: 4px;
    border-color: #fff;
}


.social {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.inputRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cityAge {
    display: flex;
    flex-direction: row;
}

.m {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mr {
    margin-right: 15px;
}

#btnHolder {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#submitBtn {
    border: none;
    margin-top: 20px;
    padding: 10px 40px;
    border-radius: 20px;
    width: 320px;
    height: 40px;
}


h4 {
    font-size: 24px;
    font-weight: 400;
}


.sliderDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: -18px;
    width: 95%;
}

label {
    margin: 20px;
    position: relative;
    width: 80px;
    height: 40px;
    cursor: pointer;
}

label input {
    position: relative;
    z-index: 1;
    appearance: none;
}

label span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffc1c0;
    border-radius: 40px;
    transition: 0.5s;
    box-shadow: 0 2px 7px #ffc1c0;
}

label input:checked~span {
    background-color: #80fbbd;
    box-shadow: 0 1px 3px #80fbbd;
}

label span i {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%;
    transition: 0.5s;
}

label input:checked~span i {
    left: 42px;
}

label span i::before {
    content: '';
    width: 6px;
    top: 11px;
    left: 7px;
    height: 6px;
    position: absolute;
    background: #ffc1c0;
    border-radius: 50%;
    box-shadow: 15.5px 0 0 #ffc1c0;
    transition: 0.5s;
}

label input:checked~span i::before {
    background: #80fbbd;
    box-shadow: 15.5px 0 0 #80fbbd;
}

label span i::after {
    content: '';
    bottom: 7.5px;
    width: 15px;
    height: 3px;
    left: calc(50% - 7.5PX);
    position: absolute;
    border-radius: 3px;
    background: #ffc1c0;
    transition: 0.5s;
}

label input:checked~span i::after {
    bottom: 6px;
    height: 7.5px;
    border-radius: 0;
    border-bottom-left-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    background: #80fbbd;
}





@media only screen and (max-width: 1000px) {
    .socialMediaHolder {
        flex-direction: column;
    }

    .facebookDiv {
        margin-top: 5px;
        margin-left: 0px;
        margin-bottom: -10px;
    }

    .row2Column {
        width: 100%;
        justify-content: center;
    }

    h1 {
        font-size: 42px;
    }

    h4 {
        font-size: 18px;
    }




}

@media only screen and (max-width: 800px) {

    .sliderDiv {
        flex-direction: column;
        align-items: flex-start;
    }

    .sliderRow {
        margin-top: -5px;
        margin-bottom: -5px;
    }

    .topSection {
        flex-direction: column;
    }

    .cityAge {
        margin-top: 15px;
        flex-direction: column;
        align-items: flex-start;
    }

    .ageHolder {
        margin-top: 5px;
        margin-left: 0px;
    }

    body {
        justify-content: flex-start;
    }
}